@import "catppuccin/themes/mocha.css";

* {
  font-family: JetbrainsMono Nerd Font, Noto Sans;
  font-size: 12px;
}

window#waybar {
  background-color: alpha(@base, 0.5);
  border-bottom: 1px solid @surface1;
  color: @text;
  /* transition-property: background-color;
  transition-duration: .5s; */
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;

  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button, #tags button {
  padding: 0 8px;
  background-color: transparent;
  color: @lavender;
}

#workspaces button:hover, #tags button:hover {
  background: alpha(@surface0, 0.5);
}

#workspaces button.active, #tags button.focused {
  background-color: alpha(@surface0, 0.5);
  box-shadow: inset 0 -1px @blue;
}

#workspaces button.urgent, #tags button.urgent {
  background-color: @red;
}

label:focus {
  background-color: #000000;
}

tooltip {
  color: @text;
  background-color: @base;
  text-shadow: none;
}

/* padding and margin */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  padding: 0 10px;
  /* margin: 0 0 0 -3px; */
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}



/* modules */

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#clock {
  color: @lavender;
}

#backlight {
  color: @yellow;
}

#battery {
  color: @green;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#disk {
  color: @peach;
}

#idle_inhibitor {
  padding: 0 12px;
  color: @blue;
}

#idle_inhibitor.activated {
  background-color: @surface0;
}

#network.disconnected {
  background-color: rgba(240, 61, 61, 0.2);
}

#pulseaudio, #wireplumber {
  color: @red;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#tray {
  padding: 0 7px 2px 0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}



